@media (max-width: 1024px) {
}
@media (max-width: 1024px) {
  //header
  header {
    height: 10px;
    z-index: 20;
    @include shadow(4px, $font-white);
    nav {
      clip-path: polygon(0px 0px, 100% 0, 100% 100%, 37% 100%);
      position: absolute;
      min-width: 0;
      width: 151px;
      padding-right: 3%;
      ul {
        display: none;
        opacity: 0;
      }
    }
    .burgerIcon {
      display: flex;
    }
  }
  //popup
  #popup-wrapper {
    #popup {
      width: 90%;
      height: 85%;

      .detailDescription {
        background: aliceblue;
        p {
          text-align: center;
        }
        .projectLinks {
          justify-content: center;
        }
      }
      #img-wrapper {
        height: inherit;
        border-radius: 0;
        .fa-times {
          top: -38px;
          left: 13px;
          opacity: 1;
          font-size: 23px;
        }
      }
    }
  }
  //banner
  .banner-text {
    align-items: center;
    height: auto;
    padding: 5%;
    h1 {
      text-align: center;
      margin-bottom: 25px;
    }
  }
  //projects
  .projects-section {
    .projects-wrapper {
      grid-template-columns: 47% 47%;
    }
    .project .description h4 {
      font-size: 50px;
    }
  }
  // about
  .about-section {
    p {
      font-size: 30px;
    }
    .languages-section {
      h4 {
        text-align: center;
        font-size: 30px;
      }
      .front-end-logos {
        div {
          width: 30%;
          img {
            width: 131px;
            height: 150px;
          }
        }
      }
    }
  }
  //contact
  #contact {
    p {
      text-align: center;
      font-size: 30px;
    }
    .links i {
      font-size: 85px;
    }
  }
}
@media (max-width: 920px) {
  //projects
  .projects-section {
    padding: 2%;
    .projects-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      .categories-header {
        display: flex;
        justify-content: space-between;
        width: 70%;
        font-family: roboto-bold;
        font-size: 35px;
        color: rgb(233, 233, 233);
        cursor: pointer;
        margin: 0;
      }
    }
    .projects-wrapper {
      justify-content: center;
      .project {
        width: 100%;
        margin: 0px 0 5% 0px;
        .description {
          h4 {
            font-size: 42px;
            text-align: center;
          }
        }
      }
    }
  }
  //about
  .about-section {
    .languages-section .front-end-logos {
      margin: 40px 0;
      div img {
        width: 100px;
        height: 111px;
      }
    }
  }
  //contact
  #contact {
    .content-wrapper {
      flex-wrap: wrap;
      form {
        width: 100% !important;
        margin-bottom: 5%;
      }
    }
    .text-side {
      width: 100% !important;
      .paragraphs {
        padding-left: 0 !important;
      }
    }
    .links {
      a {
        margin: 10px 30px;
      }
      .fa-github,
      .fa-facebook {
        margin-right: 0px;
      }
    }
  }
}
@media (max-width: 770px) {
  #popup-wrapper {
    #popup {
      #img-wrapper {
        .fa-chevron-left,
        .fa-chevron-right {
          backdrop-filter: contrast(0.5);
          font-size: 60px;
        }
      }
      .detailDescription a {
        font-size: 27px;
        width: 202px;
        height: 56px;
      }
    }
  }
  .projects-section .projects-wrapper {
    grid-template-columns: 95%;
    gap: 50px;
  }
}
@media (max-width: 600px) {
  //banner
  .banner-text {
    h1 {
      font-size: 68px;
      line-height: 63px;
    }
  }
  .projects-section .projects-header .categories-header {
    width: 100%;
    font-size: 25px;
  }
  //about
  .about-section .languages-section .front-end-logos {
    flex-wrap: wrap;
    div {
      width: 100%;
      margin-bottom: 30px;
      p {
        font-size: 20px;
      }
    }
  }
}
//mobile
@media (max-width: 420px) {
  //header
  header {
    height: 5px;
    nav {
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
      width: 92px;
      .burgerIcon {
        height: 41px;
        .line1,
        .line2,
        .line3 {
          margin: 3px 0px;
        }
      }
    }
  }
  //banner
  .banner-text {
    height: 320px;
    a {
      flex-direction: column;
      font-size: 20px;
    }
    h1 {
      font-size: 47px;
      line-height: 44px;
    }
  }
  //popup
  #popup-wrapper #popup {
    #img-wrapper {
      .fa-times {
        top: 6px;
      }
      .fa-chevron-right,
      .fa-chevron-left {
        font-size: 25px;
      }
    }
    .detailDescription {
      height: 48%;
      p {
        font-size: 17px;
      }
      .popupHeader {
        h4 {
          font-size: 37px;
        }
        small {
          font-size: 12px;
        }
      }
      a {
        font-size: 19px;
        width: 191px;
        height: 46px;
        border-radius: 8px;
      }
    }
  }
  //projects
  .projects-section {
    h2 {
      margin: 34px 0px;
    }
    .projects-wrapper .project {
      .image {
        height: 300px;
        width: 90%;
      }
      .description {
        h4 {
          text-align: center;
          font-size: 30px;
        }
      }
    }
  }
  //about
  .about-section p {
    font-size: 27px;
  }
  //contact
  #contact {
    .content-wrapper #contact-form button {
      width: 100% !important;
    }
    .links i {
      font-size: 70px;
    }
  }
}
@media (max-height: 700px) {
  //popup
  #popup-wrapper #popup {
    clip-path: unset;
    height: 86%;
    top: 50px;
    #img-wrapper {
      .fa-times {
        top: 6px;
      }
      .fa-chevron-right,
      .fa-chevron-left {
        font-size: 25px;
      }
    }
  }
}
