// colors 
$primary: #252934 ;
$background:#1B242F;
$blue:#007FB4;
$pink:rgba(227, 27, 109, 0.8);


//fonts
$font-size1: 80px ;
$font-size2: 48px ;
$font-white:#e9e9e9;
$font-pink:rgb(227 27 109 / 80%);

$padding-x:0px 3% ;